certifi
charset-normalizer
filelock
fsspec
huggingface-hub
idna
Jinja2
MarkupSafe
numpy
packaging
psutil
PyYAML
regex
requests
safetensors
tokenizers
torch
tqdm
transformers
typing_extensions
urllib3
